In [53]:
import sys, csv, json
import urllib
import pandas as pd
import time
import numpy as np

In [51]:
headlines_path = './data/days_headlines/'

start_date = '20100629'
end_date = '20170911'
days = pd.date_range(start_date, end_date)

In [17]:
## Preparing TESLA stock data

with open('./data/TSLA.csv', 'rb') as csvfile:
    data = list(csv.reader(csvfile, delimiter=','))
    
data = np.asarray(data[1:])
data = data[:, [0, 4]] # close price

df = pd.DataFrame(data=data[0:,1:],
                  index=data[0:,0],
                  columns=['close'], dtype='float64')

# Adding missing dates to the dataframe

df.index = pd.DatetimeIndex(df.index)
df = df.reindex(days, fill_value=np.NaN)
print('Without Interpolation: ', df.count()) # gives 2518 count
df = df.interpolate()
print('With Interpolation: ', df.count()) # gives 3651 count

('Without Interpolation: ', close    1814
dtype: int64)
('With Interpolation: ', close    2632
dtype: int64)

In [19]:
df.to_pickle('./data/TSLA_stock_information.pkl')

                 close
2010-06-29   23.889999
2010-06-30   23.830000
2010-07-01   21.959999
2010-07-02   19.200001
2010-07-03   18.427501
2010-07-04   17.655001
2010-07-05   16.882501
2010-07-06   16.110001
2010-07-07   15.800000
2010-07-08   17.459999
2010-07-09   17.400000
2010-07-10   17.283333
2010-07-11   17.166666
2010-07-12   17.049999
2010-07-13   18.139999
2010-07-14   19.840000
2010-07-15   19.889999
2010-07-16   20.639999
2010-07-17   21.063333
2010-07-18   21.486666
2010-07-19   21.910000
2010-07-20   20.299999
2010-07-21   20.219999
2010-07-22   21.000000
2010-07-23   21.290001
2010-07-24   21.176668
2010-07-25   21.063334
2010-07-26   20.950001
2010-07-27   20.549999
2010-07-28   20.719999
...                ...
2017-08-13  361.823324
2017-08-14  363.799988
2017-08-15  362.329987
2017-08-16  362.910004
2017-08-17  351.920013
2017-08-18  347.459991
2017-08-19  344.259989
2017-08-20  341.059987
2017-08-21  337.859985
2017-08-22  341.350006
2017-08-23  352.769989
2017-08-24  352.929993
2017-08-25  348.049988
2017-08-26  347.253327
2017-08-27  346.456665
2017-08-28  345.660004
2017-08-29  347.359985
2017-08-30  353.179993
2017-08-31  355.899994
2017-09-01  355.399994
2017-09-02  353.947495
2017-09-03  352.494995
2017-09-04  351.042495
2017-09-05  349.589996
2017-09-06  344.529999
2017-09-07  350.609985
2017-09-08  343.399994
2017-09-09  350.163330
2017-09-10  356.926666
2017-09-11  363.690002

[2632 rows x 1 columns]

In [54]:
## Downloading NY Times headers of TESLA Motors company
# The process of downlading and processing are two distinguished processes
# NT Times API https://developer.nytimes.com/article_search_v2.json#/Console
art_start_date = '20111114'
art_end_date = '20170911'
art_days = pd.date_range(art_start_date, art_end_date)
days_ny_api =[d.strftime('%Y%m%d') for d in art_days]
url = 'https://api.nytimes.com/svc/search/v2/articlesearch.json?%s'
values = {'api-key' : '0ba6dc04a8cb44e0a890c00df88c393a',
          'q' : 'Tesla',
          'fq': 'news_desk:(\"Business\",\"Tech\",\"Science\")',
          'sort':'oldest',

         }

for day in days_ny_api:
    ok_req = False
    while not ok_req:
        values['begin_date'] = day
        values['end_date'] = day
        param = urllib.urlencode(values)
        f = urllib.urlopen(url % param)
        raw = f.read()
        if raw is not '':
            articles = json.loads(raw)
            ok_req = not articles.has_key('message') 
            if ok_req:
                print('DOWNOLOAD DAY ', day)
                file_str = headlines_path + day +'.json'
                with open(file_str, 'w') as fout:
                    json.dump(articles, fout)
                    fout.close()
            else:
                print('LIMIT ', day)
                time.sleep(1200)
        else:
            print('EMPTY')

('DOWNOLOAD DAY ', '20111114')
('DOWNOLOAD DAY ', '20111115')
('DOWNOLOAD DAY ', '20111116')
('DOWNOLOAD DAY ', '20111117')
('DOWNOLOAD DAY ', '20111118')
('DOWNOLOAD DAY ', '20111119')
('DOWNOLOAD DAY ', '20111120')
('DOWNOLOAD DAY ', '20111121')
('LIMIT ', '20111122')
('DOWNOLOAD DAY ', '20111122')
('DOWNOLOAD DAY ', '20111123')
('DOWNOLOAD DAY ', '20111124')
('DOWNOLOAD DAY ', '20111125')
('DOWNOLOAD DAY ', '20111126')
('DOWNOLOAD DAY ', '20111127')
('DOWNOLOAD DAY ', '20111128')
('DOWNOLOAD DAY ', '20111129')
('DOWNOLOAD DAY ', '20111130')
('DOWNOLOAD DAY ', '20111201')
('DOWNOLOAD DAY ', '20111202')
('DOWNOLOAD DAY ', '20111203')
('DOWNOLOAD DAY ', '20111204')
('DOWNOLOAD DAY ', '20111205')
('DOWNOLOAD DAY ', '20111206')
('DOWNOLOAD DAY ', '20111207')
('DOWNOLOAD DAY ', '20111208')
('DOWNOLOAD DAY ', '20111209')
('DOWNOLOAD DAY ', '20111210')
('DOWNOLOAD DAY ', '20111211')
('DOWNOLOAD DAY ', '20111212')
('DOWNOLOAD DAY ', '20111213')
('DOWNOLOAD DAY ', '20111214')
('DOWNOLOAD DAY ', '20111215')
('LIMIT ', '20111216')
('DOWNOLOAD DAY ', '20111216')
('DOWNOLOAD DAY ', '20111217')
('DOWNOLOAD DAY ', '20111218')
('DOWNOLOAD DAY ', '20111219')
('DOWNOLOAD DAY ', '20111220')
('DOWNOLOAD DAY ', '20111221')
('DOWNOLOAD DAY ', '20111222')
('DOWNOLOAD DAY ', '20111223')
('DOWNOLOAD DAY ', '20111224')
('DOWNOLOAD DAY ', '20111225')
('DOWNOLOAD DAY ', '20111226')
('DOWNOLOAD DAY ', '20111227')
('DOWNOLOAD DAY ', '20111228')
('DOWNOLOAD DAY ', '20111229')
('DOWNOLOAD DAY ', '20111230')
('DOWNOLOAD DAY ', '20111231')
('DOWNOLOAD DAY ', '20120101')
('DOWNOLOAD DAY ', '20120102')
('DOWNOLOAD DAY ', '20120103')
('LIMIT ', '20120104')
('DOWNOLOAD DAY ', '20120104')
('DOWNOLOAD DAY ', '20120105')
('DOWNOLOAD DAY ', '20120106')
('DOWNOLOAD DAY ', '20120107')
('DOWNOLOAD DAY ', '20120108')
('DOWNOLOAD DAY ', '20120109')
('DOWNOLOAD DAY ', '20120110')
('DOWNOLOAD DAY ', '20120111')
('DOWNOLOAD DAY ', '20120112')
('DOWNOLOAD DAY ', '20120113')
('DOWNOLOAD DAY ', '20120114')
('DOWNOLOAD DAY ', '20120115')
('DOWNOLOAD DAY ', '20120116')
('DOWNOLOAD DAY ', '20120117')
('DOWNOLOAD DAY ', '20120118')
('DOWNOLOAD DAY ', '20120119')
('LIMIT ', '20120120')
('DOWNOLOAD DAY ', '20120120')
('DOWNOLOAD DAY ', '20120121')
('DOWNOLOAD DAY ', '20120122')
('DOWNOLOAD DAY ', '20120123')
('DOWNOLOAD DAY ', '20120124')
('DOWNOLOAD DAY ', '20120125')
('DOWNOLOAD DAY ', '20120126')
('DOWNOLOAD DAY ', '20120127')
('DOWNOLOAD DAY ', '20120128')
('LIMIT ', '20120129')
('DOWNOLOAD DAY ', '20120129')
('DOWNOLOAD DAY ', '20120130')
('LIMIT ', '20120131')

KeyboardInterrupt:

In [48]:
## Prepaparing headers
df['headlines'] = ''
error_days= []
last_headers = ''
for day in df.index:
    file_str = headlines_path + day.strftime('%Y%m%d') +'.json'
    try:
        with open(file_str, 'r') as fout:
            day_headers = json.load(fout)
            if days_headers['status'] is 'OK':
                list_entries = day_headers['response']['docs']
                headers = ''
                if len(list_entries) > 0:
                    for header in list_entries:
                        headers = headers + '_' + header['header']['main']
                    last_headers = headers
                else:
                    headers = last_headers
                df.at[day,'headlines'] = headers
            else:
                error_days.append(day)
    except IOError:
        continue

IOError: [Errno 2] No such file or directory: './data/days_headlines/20100629.json'

hola